*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: vazir;
    src: url("./assests/font/Vazir-Medium.eot")  format("ttf"),

  }
  @font-face {
    font-family: vazir;
    src: url("./assests/font/Vazir-Medium.ttf")  format("eot");
  }
  @font-face {
    font-family: vazir;
    src: url("./assests/font/Vazir-Medium.woff")  format("woff");
   
  }
  @font-face {
    font-family: vazir;
    src: url("./assests/font/Vazir-Medium.woff2")  format("woff2");
   
  }

ul
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}
li
{
    width: 150px;
    display: inline-block;
    position: relative;
}
a
{
    display: block;
    color: whitesmoke;
    text-decoration: none;
}
ul li ul.dropdown li{
    margin-top: 5px;
    display: block;
    border: 2px solid #8a8a8a;
    width: 100px;
    height: 35px;
}
ul li ul.dropdown
{
    background-color: #2C394B;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li:hover ul.dropdown
{
    display: block;
}
.dropdown li a:hover{
    color: tomato;
}
body
{
    grid-template-areas:"nav"
                        "header"
                        "main"
                        "footer" ;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(4,1fr));
    grid-template-rows: auto;
    direction: rtl;
    font-family: 'vazir';
    color: whitesmoke;
}
/*              navbar            */
.logo
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: 500;
}
.logo img
{
    border-radius: 2px;
}
nav
{
    grid-area: nav;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #2C394B;
    width: 100%;
    height: 75px;
}
.a-nav
{
    font-size:large;
    font-weight: 700;
    color: whitesmoke;
}
.a-nav:hover
{
    color: orangered;
}


/*          header           */

header
{
    grid-area: header;
    background-color: #334756;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.header-content
{
    font-size: larger;
    font-weight: 500;
    width: 50%;
}

/* .btn
{
    font-size: larger;
    font-weight: 500;
    margin: 25px;
    width: 150px;
    height: 50px;
    background-color: red;
    border-radius: 10px;
} */
/* .btn:hover
{
    background-color: #E4003A;
    border: 2px solid #8a8a8a;
} */
.btn {
    width: 150px;
    height: 50px;
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 12px 27px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    text-decoration: none;
    color: white;
    background: red;
    border: 3px solid #999999;
    cursor: pointer;
    transition: ease-out 0.5s;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
}
.btn.btn-border-3::after,
.btn.btn-border-3::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    transition: .5s;
}

.btn.btn-border-3::after {
    top: -9px;
    left: -9px;
    border-top: 3px solid transparent;
    border-left: 3px solid transparent;
}

.btn.btn-border-3::before {
    bottom: -9px;
    right: -9px;
    border-bottom: 3px solid transparent;
    border-right: 3px solid transparent;
}

.btn.btn-border-3:hover {
    color: #222222;
}

.btn.btn-border-3:hover::after,
.btn.btn-border-3:hover::before {
    width: 30px;
    height: 30px;
    border-color: #222222;
}

.btn.btn-border-4::after,
.btn.btn-border-4::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    transition: .5s;
}

.btn.btn-border-4::after {
    top: -9px;
    left: -9px;
    border-top: 3px solid transparent;
    border-left: 3px solid transparent;
}

.btn.btn-border-4::before {
    bottom: -9px;
    right: -9px;
    border-bottom: 3px solid transparent;
    border-right: 3px solid transparent;
}

.btn.btn-border-4:hover {
    color: #222222;
}

.btn.btn-border-4:hover::after,
.btn.btn-border-4:hover::before {
    width: calc(100% + 15px);
    height: calc(100% + 15px);
    border-color: #222222;
}
/*  */
.btn2
{
    font-size: larger;
    font-weight: 500;
    margin: 25px;
    width: 150px;
    height: 50px;
    background-color: blue;
    border-radius: 10px;
}
.btn2:hover
{
    background-color: #40679E;
    border: 2px solid #8a8a8a;
}
.header-span
{
    color: grey;
    font-size:100px;
    font-weight: 900;
}
.header-span:hover
{
    color: orangered;
}

/*      main         */
main
{
    grid-area: main;
}
/* .container
{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(auto-fit , minmax(280px , 1fr));
    justify-content: space-evenly;
    align-content: center;
} */
.discription
{
    grid-area: discription;
    background-color: #082032;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.t-discription
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: x-large;
    font-weight: 700;
    margin: 25px;
    width: 250px;
    height: 50px;
    background-color: red;
    border-radius: 10px;
}
.allcard
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.card
{
    cursor: pointer;
    position: relative;
    margin: 25px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #7d93c1;
    width: 275px;
    height: 250px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    transition: all 0.6s ease;
}
.card:hover{
    box-shadow: rgba(255, 85, 28, 0.199) -10px 10px, rgba(255, 160, 28, 0.19) -20px 20px ;
}
/* .card::before
{
    position: absolute;
    width: 275px;
    height: 250px;
    background-color: tomato;
    border-radius: 15px;
    z-index: -1;
    transition: 0.3s;
    animation: animate 2s linear infinite;
}
.card:hover::before
{
    width: 287px;
    height: 262px;
}
@keyframes animate {

    50%
    {
        filter: hue-rotate(350deg);
    }
} */

/*          pricing       */
.pricing
{
    width: 100%;
    grid-area: pricing;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.p-card
{
    z-index: 0;
    overflow: hidden;
    margin: 25px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #7d93c1;
    width: 275px;
    height: 450px;
}
.p-card:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: #8a8a8a;
  }

  .p-card:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #00838d;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(2);
    transform-origin: 50% 50%;
    transition: transform 0.15s ease-out;
  }

  .p-card:hover:before {
    transform: scale(2.15);
  }

/* .p-card::before
{
    position: absolute;
    content: '';
    width: 50%;
    height: 100%;
    background-color: #fff;
    transform: rotate(45deg);
}

.p-card:hover::before
{
    animation: animate2 2s linear infinite;
}

@keyframes animae2 {

    from
    {
        transform: rotate(0deg);
    }
    to
    {
        transform: rotate(360deg);
    }
}
.p-card::after
{
    position: absolute;
    content: '';
    inset: 5px;
    background-color: #222;
} */

/*      footer       */


footer
{
    grid-area:footer ;
    padding: 15px;
    background-color: #334756;
    color: #ccc9c9;
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    grid-template-rows: repeat(2fr);
}