*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: vazir;
    src: url("../../font/Vazir-Medium.ttf")  format("ttf"),
  
  }
  @font-face {
    font-family: vazir;
    src: url("../../font/Vazir-Medium.eot")  format("eot");
  }
  @font-face {
    font-family: vazir;
    src: url("../../font/Vazir-Medium.woff2")  format("woff2");
   
  }
  @font-face {
    font-family: vazir;
    src: url("../../font/Vazir-Medium.woff")  format("woff");
   
  }
a
{
    text-decoration: none;
    color: white;
}
a:hover
{
    color: #FF4C29;
}
body
{
    color: white;
    font-family: vazir;
    direction: rtl;
}
.container
{
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(8,32,50);
background: linear-gradient(180deg, rgba(8,32,50,1) 0%, rgba(87,103,116,1) 39%, rgba(149,169,197,1) 69%, rgba(250,249,254,1) 100%);
}
.box
{
    border-radius: 10px;
    width: 400px;
    height: 600px;
    border: 3px solid blue;
    text-align: center;
    background-color: #334756;
}
.star
{
    color: red;
}
.logo
{
    margin-top: 40px;
    margin-bottom: 5px;
}
.logo span
{
    margin-bottom: 5px;
}
.logo img
{
    border-radius: 5px;
    width: 60px;
    text-align: center;
}
.input-box
{
    width: 300px;
    height: 40px;
    margin-top: 25px;
    margin-bottom:25px;
    border-radius: 25px;
    text-align: center;
    background-color: beige;
}
.button-box
{
    width: 300px;
    height: 40px;
    margin-top: 25px;
    margin-bottom:25px;
    border-radius: 25px;
    font-size: larger;
    font-weight: 700;
    background-color: #FF4C29;
}
h1
{
    margin-bottom: 25px;
}